# API Gateway Configuration
API_GATEWAY_PORT=3000

# Microservices URLs and Ports
BOOKING_SERVICE_URL=localhost
BOOKING_SERVICE_PORT=3007

CLOUDBEDS_SERVICE_URL=localhost
CLOUDBEDS_SERVICE_PORT=3002

PAYMENT_SERVICE_URL=localhost
PAYMENT_SERVICE_PORT=3009

NOTIFICATION_SERVICE_URL=localhost
NOTIFICATION_SERVICE_PORT=3011

AUDIT_SERVICE_URL=localhost
AUDIT_SERVICE_PORT=3005

BOOKING_POLICY_SERVICE_URL=localhost
BOOKING_POLICY_SERVICE_PORT=3008
